[submodule "submodules/faostat-ui-standards-methodology"]
	path = submodules/faostat-ui-standards-methodology
	url = https://github.com/FAOSTAT4/faostat-ui-standards-methodology.git
[submodule "submodules/faostat-ui-standards-classifications"]
	path = submodules/faostat-ui-standards-classifications
	url = https://github.com/FAOSTAT4/faostat-ui-standards-classifications.git
[submodule "submodules/faostat-ui-standards-units"]
	path = submodules/faostat-ui-standards-units
	url = https://github.com/FAOSTAT4/faostat-ui-standards-units.git
[submodule "submodules/faostat-ui-standards-glossary"]
	path = submodules/faostat-ui-standards-glossary
	url = https://github.com/FAOSTAT4/faostat-ui-standards-glossary.git
